body{
	margin:0px;
}
@font-face{
	font-family:myFirstFont;
	src:url(bahnschrift.TTF);
}
@font-face{
	font-family:myFirstFont;
	src:url(C:\Windows\Fonts.TTF);
}
body{
	font-family:myFirstFont;
}
.header{
	position:relative; 
	/*background-image:url(photo-1542291026-7eec264c27ff.jpg);*/
	background-size:cover;
	justify-content:space-between;  
	/*border:1px solid black; */ 
	height:840px;
	width:1345px;
	background-attachment:fixed; 
	border-bottom-left-radius:50%; 
	/*border-bottom-right-radius:50%; */
	display:flex; 
}
#myVideo{
	position: absolute;
	left10%;
	background-position: center;	
	z-index: -1;
	/*position: fixed;*/
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
}
.brand-logo{
	font-size:30px; 
	font-weight:bolder; 
	margin-left:150px;
	margin-top:10px;
	border:3px solid rgb(0, 150, 255);
	margin-bottom:786px;
	cursor:pointer; 
}
.span-1{
	color:orange;
}
.span-2{
	color:rgb(0, 150, 255);
}
ul{
	position:absolute; 
	display:flex; 
	margin-left:730px;
	list-style-type:none; 
}
ul a{
	padding:11px;
	display:inline-block; 
	font-size:21px; 
	/*border:2px solid orange;*/
	color:white;
	text-decoration:none; 
	/*font-weight:bold; */
	transition:all 2s; 
	border-radius:0px;
}
ul a:hover{
	transform:translateY(-10px); 
	color:rgb(0, 150, 255);
	transition:.4s; 
	/*text-decoration:underline 3px; */
	/*background:rgb(0, 150, 255); */
	/*border-radius:20px; */
	text-shadow:0px 15px 18px black; 
}
/*ul a span{
	position: absolute;
	display:block;
}
ul a span:nth-child(1){
	top:0;
	left:-100%;
	width:100%;
	height:2px;
}
ul a:hover span:nth-child(1){
	right:100%;
	transition: .1s;
	background-color:orange;
}*/
.fa-shopping-cart{
	margin-top:10px;
	margin-left:30px;
	font-size: 25px;
	cursor: pointer;
	transition: all 1s;
}
.fa-shopping-cart:hover{
	transform: scale(1.2);
}
/*ul a:hover::after{
	content: '';
	width:55px;
	height:3px;
	background-color:orange;
	position: absolute;
	top:90%;
	left:13px;
	border-radius: 30px;
}*/
.nike{
	position:absolute;
	color:white; 
	margin-left:500px;
	font-size:18vh;
	font-weight:bold; 
	text-shadow:0px 0px 20px rgb(0, 150, 255);  
	top:160px;
	border-left:7px solid rgb(0, 255, 255);
	border-radius:20px; 
	height:124px;
}
.heading{
	position:absolute; 
	color:white;
	margin-left:300px;
	top:320px;
	font-size:24vh;
	font-weight:bold; 
	text-shadow:0px 0px 25px skyblue; 
}
.x-span{
	color:rgb(210, 4, 45);
}
.button{
	position:absolute;
	background:white;
	padding:20px;
	margin-left:530px;
	top:650px;
	/*border:1px solid black;*/
	border-radius:2px;
	box-shadow:0px 0px 35px skyblue; 
	width:160px;
	height:15px;
	cursor:pointer; 
	padding-left:43px; 
	transition:all 1s;  
}
.button:hover{
	color:white;
	background:rgb(0, 150, 255);
	transform:translateY(-20px);
	border-top-left-radius:50%;
	border-bottom-right-radius: 50%; 
}
div .header-side-text{
	position:absolute;
	color:black;
	width:108px;
	height:30px;
	border-bottom:4px solid black;
	border-radius:30px;  
	margin-left:0px;
	top:300px;
	font-weight:bold;
	transform:rotate(-90deg);  
}
/*.top-circle{
	position:absolute; 
	background:#FAFAFA;
	border:1px solid black;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%; 
	top:800px;
	left:0;
	width:600px;
 
	height:150px;
}*/
.contant-heading-1{
	position:relative; 
	background:#FAFAFA;
	color:rgb(53, 57, 53);
	font-weight:bold;
	padding-left:210px;
	padding-top:80px;   
	height:1000px;  
	width:1134px;
	z-index:2;
	text-shadow:5px 10px 7px #888888; 
}
.h1{
	font-size:18vh;
	font-family:'Poppins',sans-serif;  
	font-style:italic; 
}
.h2{
	position:absolute; 
	font-size:8vh;
	padding-left:230px;
	letter-spacing:2px; 
	top:250px; 
	font-family:'Poppins',sans-serif;
	font-style:italic;
}
.h1::after{
	content: '';
	width:120px;
	height:4px;
	background-color:orange;
	position: absolute;
	left:46%;
	top:26.7%;
	border-radius: 10px;
	transition: all 2s;
	box-shadow: 0px 10px 5px #888888;
}
.h1:hover::after{
	transform: scaleX(6);
	box-shadow: 0px 10px 1px #888888;
}
/*.hr-2{
	position:absolute; 
	width:18%;
	color:orange;
	top:280px;
	left:540px;
	height:3px;
	border-radius:20px;
	box-shadow:5px 10px 7px #888888; 
}*/
/*---box card--*/
.box-card{
	/*border:1px solid black;*/
	position:absolute;
	color:rgb(0, 150, 255);
	cursor:pointer; 
	top:560px;
	width:350px;
	height:400px;
	left:80px;
	border-radius:20px;
	transform-style:preserve-3d; 
}
.box-card .card{
	position:absolute;
	border-radius:20px;
	box-shadow:10px 10px 13px #888888;  
	left:0px;
	top:0px;
	width:350px; 
	height:400px;
	transform-style: preserve-3d;
	/*border:1px solid black;*/
	transform:perspective(500px) rotateY(0deg);
	display:flex;
	backface-visibility:hidden;  
	justify-content:content;
	align-items:center;   
}
.box-card .card.fornt{
	background-image:url(360_F_592472895_xlj6iIyDHRZLWcdocDzLmvfhmqJ4mGiH.jpg);
	background-size:cover;  
	background-position:center; 
	transition:2s; 
}
.box-card:hover .card.fornt{
	transform:perspective(500px) rotateY(180deg);
	transition-delay:0.7s; 
}
.box-card .card.back{
	background-image:url(istockphoto-1301394040-612x612.jpg);
	background-size:cover;   
	transform:perspective(500px) rotateY(180deg); 
	background-position:center; 
	transition:2s; 
}
.box-card:hover .card.back{
	transform:perspective(500px) rotateY(360deg);
	transition-delay:0.7s;
}
.box-card .card h1{
	padding-left:65px;
	font-size:3em; 
	/*text-transform:uppercase;*/ 
	text-shadow:0px 0px 10px rgb(0, 150, 255); 
	transform: perspective(500px) translateZ(50px); 
}
@font-face{
	font-family:myFirstFont;
	src:url(bahnschrift.TTF);
}
@font-face{
	font-family:myFirstFont;
	src:url(C:\Windows\Fonts.TTF);
}
.box-card .card h1{
	font-family:myFirstFont;
}
/*---box card face--*/
.box-card-face{
	/*border:1px solid black;*/
	position:absolute;
	color:rgb(210, 4, 45);
	cursor:pointer; 
	top:560px;
	width:350px;
	height:400px;
	left:500px;
	border-radius:20px;
	transform-style:preserve-3d; 
}
.box-card-face .card{
	position:absolute;
	border-radius:20px;
	box-shadow:10px 10px 13px #888888;  
	left:0px;
	top:0px;
	width:350px; 
	height:400px;
	transform-style: preserve-3d;
	/*border:1px solid black;*/
	transform:perspective(500px) rotateY(0deg);
	display:flex;
	backface-visibility:hidden;  
	justify-content:content;
	align-items:center;   
}
.box-card-face .card.fornt-1{
	background-image:url(nike-suing-satan-shoes-lil-nas-x.jpg);
	background-size:cover;  
	background-position:center; 
	transition:2s; 
}
.box-card-face:hover .card.fornt-1{
	transform:perspective(500px) rotateY(180deg);
	transition-delay:0.7s;
}
.box-card-face .card.back-2{
	background-image:url(3d-illustration-sneakers-with-bright-gradient-holographic-print-stylish-concept-stylish-trendy-sneakers_116124-12487.jpg);
	background-size:cover;   
	transform:perspective(500px) rotateY(180deg); 
	background-position:center; 
	transition:2s; 
}
.box-card-face:hover .card.back-2{
	transform:perspective(500px) rotateY(360deg);
	transition-delay:0.7s;
}
.box-card-face .card h1{
	padding-left:65px;
	font-size:3em; 
	/*text-transform:uppercase;*/ 
	text-shadow:0px 0px 10px rgb(210, 4, 45); 
	transform: perspective(500px) translateZ(50px); 
}
/*---box card face three--*/
.box-card-face-three{
	/*border:1px solid black;*/
	position:absolute;
	color:	rgb(255, 234, 0);
	cursor:pointer; 
	top:560px;
	width:350px;
	height:400px;
	left:930px;
	border-radius:20px;
	transform-style:preserve-3d; 
}
.box-card-face-three .card{
	position:absolute;
	border-radius:20px;
	box-shadow:10px 10px 13px #888888;  
	left:0px;
	top:0px;
	width:350px; 
	height:400px;
	transform-style: preserve-3d;
	/*border:1px solid black;*/
	transform:perspective(500px) rotateY(0deg);
	display:flex;
	backface-visibility:hidden;  
	justify-content:content;
	align-items:center;   
}
.box-card-face-three .card.fornt-3{
	background-image:url(istockphoto-1172886559-612x612.jpg);
	background-size:cover;  
	background-position:center; 
	transition:2s; 
}
.box-card-face-three:hover .card.fornt-3{
	transform:perspective(500px) rotateY(180deg);
	transition-delay:0.7s;
}
.box-card-face-three .card.back-4{
	background-image:url(istockphoto-1301394040-612x612.jpg);
	background-size:cover;   
	transform:perspective(500px) rotateY(180deg); 
	background-position:center; 
	transition:2s; 
}
.box-card-face-three:hover .card.back-4{
	transform:perspective(500px) rotateY(360deg);
	transition-delay:0.7s;
}
.box-card-face-three .card h1{
	padding-left:65px;
	font-size:3em; 
	/*text-transform:uppercase;*/ 
	text-shadow:0px 0px 10px rgb(255, 234, 0); 
	transform: perspective(500px) translateZ(50px); 
}
/*--box card btn--*/
.btn{
	position: absolute;
	top:75%;
	left:35%;
	border:1px solid #f9004d;
	padding:15px 15px;
	background-color:#f9004d;
	text-shadow: none;
	text-decoration: none;
	color:black;
	font-size:21px;
	border-radius: 6px;
	transition: all 2s;
}
.btn:hover{
	background-color:#000;
	color:#fff;
	border:1px solid #000;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;	
}
/*--gallery---*/
.gallery{
	background-color:#fff;
	position:relative; 
	width:100%;
	height:700px;
}
.gallery::after{
	content: '';
	width:10%;
	height:4px;
	background-color:orange;
	border-radius: 30px;
	position: absolute;
	left:110px;
	box-shadow: 0px 10px 5px #888888;
	transition: all 2s;
}
.gallery:hover::after{
	width:25%;
}
.gallery-heading{
	position:absolute;
	color:rgb(53, 57, 53);
	top:200px; 
	left:100px;
	font-size:21vh;
	text-shadow:5px 10px 7px #888888;  
}
.gallery-image-1{
	position:absolute;
	width:430px; 
	height:330;
	border-radius:20px; 
	top:200px;
	left:850px;
	box-shadow:5px 10px 18px #888888; 
	transition:all 2s; 
}
.gallery-image-1:hover{
	transform:translateX(20px);
}
.gallery-image-2{
/*	position:relative;*/
	margin-top:100px;
	margin-left:650px;
	width:430px;
	height:330px;
	border-radius:20px;  
	box-shadow:5px 10px 18px #888888; 
	transition:all 2s; 
}
.gallery-image-2:hover{
	transform:translateY(-20px); 
}
.gallery-image-3{
	position:relative; 
	width:430px;
	height:330px;
	margin-left:600px;
	margin-bottom:100px;
	border-radius:20px; 
	box-shadow:5px 10px 18px #888888; 
	transition:all 2s; 
}
.gallery-image-3:hover{
	transform:translateY(20px);
}
.gallery2{
	position:relative;
	width:100%;
	height:700px;
	top:100px;
	background:#FAFAFA; 
}
.gallery-image-4{
	position:absolute;
	width:460px;
	height:300px; 
	top:200px;
	left:80px;
	cursor:pointer; 
	border-radius:20px;
	box-shadow:5px 10px 18px #888888;  
	/*border:1px solid black;*/
	transition:all 0.3s; 
}
.gallery-image-4:hover{
	transform:scale(1.1);
}
.gallery-image-5{
	position:absolute;
	width:300px;
	height:400px;
	cursor:pointer; 
	top:200px;
	left:44%; 
	border-radius:20px;
	box-shadow:5px 10px 18px #888888;
	transition:all 0.3s; 
}
.gallery-image-5:hover{
	transform:scale(1.1);
}
.gallery-image-6{
	position:absolute;
	width:300px;
	height:300px;
	cursor:pointer;
	top:200px;
	left:70%;
	border-radius:20px;
	box-shadow:5px 10px 18px #888888;
	transition:all 0.3s;    
}
.gallery-image-6:hover{
	transform:scale(1.1); 
}
.gallery-image-7{
	position:absolute;
	width:370px;
	height:340px;
	cursor:pointer;
	top:550px;
	left:120px; 
	border-radius:20px;
	box-shadow:5px 10px 18px #888888; 
	transition:all 0.3s; 	  
}
.gallery-image-7:hover{
	transform:scale(1.1);
}
.gallery-image-8{
	position:absolute;
	width:350px;
	height:350px;
	cursor:pointer;
	top:640px;
	left:42%;
	border-radius:20px;
	box-shadow:5px 10px 18px #888888;
	transition:all 0.3s; 
}
.gallery-image-8:hover{
	transform:scale(1.1); 
}
.gallery-image-9{
	position:absolute;
	width:300px;
	height:330px;
	cursor:pointer;
	top:550px;
	left:70%;
	border-radius:20px;
	box-shadow:5px 10px 18px #888888;
	transition:all 0.3s;     
}
.gallery-image-9:hover{
	transform:scale(1.1);
}
.title{
	position:relative; 
	margin-top:700px;
	width:100%;
	height:500px;
}
.title-image{
	background-image: url(186668.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position:absolute;
	width:100%; 
	height:600px;
	bottom:70px;
	/*border-radius:200px;*/
}
.h1-c-s{
	position:absolute; 
	left:500px;
	top:-170px;
	color:lightgray;
	text-shadow:5px 10px 18px black; 
}
/*---brand section---*/
.container{
	position: absolute;
	display:flex;
	/*border:1px solid black;*/
	position: absolute;
	width:100%;
	height:500px;
	background-color:#FAFAFA;
}
.container h1{
	padding-top:10%;
	padding-left:28%;
	font-size:72px;
	text-shadow: 5px 10px 7px #888888;
}
.container h1:after{
	content: '';
	position: absolute;
	width:180px;
	height:5px;
	background-color:orange;
	bottom:220px;
	right:23%;
	border-radius: 30px;
	box-shadow: 0px 12px 9px #000000;
	transition:all 2s;

}
.container h1:before{
	content: '';
	position: absolute;
	width:180px;
	height:5px;
	background-color:orange;
	bottom:220px;
	right:23%;
	border-radius: 30px;
	/*box-shadow: 0px 12px 9px #000000;*/
	/*transform: translate(110px);*/
	transition: all 1s;
}
.container h1:hover:before{
	transform: translateY(-110px);
	box-shadow: 0px 12px 9px #000000;
}
.know-more{
	position: absolute;
	top:65%;
	left:64%;
	width:10%;
	/*border:1px solid black;*/
	padding:16px 16px;
	background-color:#fff;
	color:#000;
	border-radius: 3px;
	text-align: center;
	transition: all 1s;
	box-shadow: 0px 0px 30px gray;
	text-decoration: none;
	font-size:18px;
	transition: 0.2s;
}
.know-more:hover{
	background-color:rgb(0, 150, 255);
	font-weight: bold;
	/*transform:translateY(-20px);*/
	border-color:rgb(0, 150, 255);
	/*border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;*/
}
/*.know-more span{
	position: absolute;
}
.know-more span:nth-child(1){
	top:0;
	left:0;
	width:100%;
	height:3px;
	background:linear-gradient(90deg,transparent, orange);
}*/
.brand-image{
	position: relative;
	top:90px;
	left:150px;
	width:350px;
	/*border:1px solid black;*/
	box-shadow: 5px 10px 18px #888888;
	border-radius: 2px;
	transition: 1s;
}
.brand-image:hover{
	transform: skewY(-10deg);
}
.back-div{
	position: absolute;
	width:350px;
	border:5px solid rgb(0, 150, 255);
	height:420px;
	left:56px;
	top:30px;
	padding-bottom:70px;
	background-color:rgba(0, 150, 255, 0.3);
	border-radius: 2px;
	/*filter: blur(3px);*/
}
/*---rotate-image---*/
.container2{
	position: absolute;
	background-color:#222;
	top:820%;
	width:100%;
}
.container2 h1{
	position: absolute;	
	top:35%;
	left:15%;
	color:#fff;
	font-size:5em;
	/*border:1px solid #fff;*/
}
.container2 h1::after{
	content: '';
	width:14.3%;
	height:4px;
	position: absolute;
	background-color:#fff;
	top:85%;
	left:73%;
	border-radius: 30px;
}
.container2 h1:before{
	content: '';
	position: absolute;
	width:14.3%;
	height:4px;
	background-color:#fff;
	/*bottom:220px;*/
	/*right:23%;*/
	left:73%;
	top:85%;
	border-radius: 30px;
	/*box-shadow: 0px 12px 9px #000000;*/
	/*transform: translate(110px);*/
	transition: all 1s;
}
.container2 h1:hover:before{
	transform: translateY(-80px);
}
.container2 h2{
	position: absolute;
	top:54%;
	left:15%;
	color:#888;
	font-size:31px;
}
.rotate-circle{
	margin-left:55%;
	margin-top:10%;
	margin-bottom:10%;
	color:#fff;
}
.container2 img{
	position: relative;
	width:300px;
	height:299px;
	margin-left:71px;
	margin-top:50px;
	border-radius: 10px;
	transition: all 2s;
	transform:rotate(-60deg);
	filter: blur(3px);
	cursor: pointer;
}
.main-div{
	position: absolute;
	width:304px;
	border:2px solid #fff;
	height:234px;
	left:60%;
	top:180.9px;
	padding-bottom:70px;
	background-color:#fff;
	border-radius: 10px;
}
.container2 img:hover{
	transform:rotate(0.2deg);
	filter: blur(0px);
}
#buy-Now{
	position: absolute;
	display: inline-block;
	left:300px;
	bottom:110px;
	color:#fff;
	text-decoration: none;
	padding:12px 20px;
	font-size:21px;
	border:1px solid white;
	border-radius: 10px;
	transition: all 1s;
}
#buy-Now:hover{
	background-color:rgb(0, 150, 255);
	color:#000;
	border-color:rgb(0, 150, 255);
	transform:translateY(-30px);
	border-top-left-radius: 50%; 
	border-bottom-right-radius: 50%;
}
.container2 h1::after{
	content: '';
	width:0%;
	height:4px;
	position: absolute;
	background-color:#fff;
	top:85%;
	left:1%;
	border-radius: 30px;
	transition: all 2s;
}
.container2 h1:hover::after{
	width:100%;
}
/*--card group---*/
.article-content{
	position: relative;
	max-width: 1260px;
	display: flex;
	padding:50px;
	top:198%;
	background-color:#FAFAFA;
}
.article-content .card{
	position: relative;
	flex:0 0 300px;
	margin-top:12%;
	margin-left:15%;
	display:flex;
	flex-direction: column;
	height:300px;
	background-image: url(istockphoto-1301394040-612x612.jpg);
	padding:32px;
	box-shadow: -16px 0 32px rgba(0,0,0,0.5);
	border-radius: 8px;
	transition: transform 250ms;
}
.card p{
	margin-top:30%;
	transition: 0.3s;
}
.article-content .card:hover p{
	transform: translateY(-90px);
}
.article-content .card:not(:first-child){
	margin-left:-130px;
}
.article-content .card:hover{
	transform: translate(-8px, -16px)
	rotate(3deg);
	transform: scale(1.1)
}
.article-content .card:hover ~ .card{
	transform: translateX(130px);
}
.article-content .card-btn{
	margin-top:6%;
	padding:16px;
	border:1px solid black;
	width:90px;
	text-align:center;
	color:black;
	text-decoration:none;
	transition: 0.3s;
}
.article-content .card:hover .card-btn{
	transform: translateY(40px);
}
.article-content .card-btn:hover{
	color:black;
	background:linear-gradient(20deg, skyblue 15%, pink);
	border:none;
	transform: scale(1.1);
}
/*---footer---*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  width: 93%;
  top:250%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-shadow:0px 15px 18px black; 
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color:black;
  box-shadow:0px 15px 18px black;
  border-radius: 50%; 
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color:black;
  text-shadow:0px 21px 7px black;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.gv:hover{
	color:black;
	font-weight: 700;
	transition: .2s;
	cursor: pointer;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

